$50---carousel-pink: #fce4ec;
$100---lavender: #f8bbd0;
$200---illusion: #f48fb1;
$300---light-crimson: #f06292;
$400---cerise-pink: #ec407a;
$500---razzmatazz: #e91e63;
$600---dogwood-rose: #d81b60;
$700---bright-maroon: #c2185b;
$800---jazzberry-jam: #ad1457;
$900---disco: #880e4f;
$a100---tickle-me-pink: #ff80ab;
$a200---violet-red: #ff4081;
$a400---folly: #f50057;
$a700---dogwood-rose: #c51162;
