$50---amour: #f3e5f5;
$100---fog: #e1bee7;
$200---wisteria: #ce93d8;
$300---rich-lilac: #ba68c8;
$400---deep-lilac: #ab47bc;
$500---dark-orchid: #9c27b0;
$600---violet-eggplant: #8e24aa;
$700---seance: #7b1fa2;
$800---seance: #6a1b9a;
$900---daisy-bush: #4a148c;
$a100---violet: #ea80fc;
$a200---free-speech-magenta: #e040fb;
$a400---psychedelic-purple: #d500f9;
$a700---vivid-violet: #aa00ff;
