$50---lavender: #ede8f5;
$100---prelude: #d1c4e8;
$200---light-pastel-purple: #b39edb;
$300---lilac-bush: #9475cc;
$400---fuchsia-blue: #7d57c2;
$500---purple-heart: #663bb8;
$600---purple-heart: #5e36b0;
$700---daisy-bush: #522ea8;
$800---daisy-bush: #4526a1;
$900---blue-gem: #301c91;
$a100---bright-lavender: #b387ff;
$a200---medium-slate-blue: #7d4dff;
$a400---han-purple: #661fff;
$a700---persian-blue: #6100eb;
