$50---fair-pink: #ffebee;
$100---cosmos: #ffcdd2;
$200---sea-pink: #ef9a9a;
$300---froly: #e57373;
$400---carmine-pink: #ef5350;
$500---red-orange: #f44336;
$600---cg-red: #e53935;
$700---persian-red: #d32f2f;
$800---fire-engine-red: #c62828;
$900---cornell-red: #b71c1c;
$a100---geraldine: #ff8a80;
$a200---red-orange: #ff5252;
$a400---awesome: #ff1744;
$a700---rosso-corsa: #d50000;
